@import url('reset.css');

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter24pt-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter24pt-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter24pt-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}



body {
	background: #ccc;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.block-1 {
	font-size: 0;
	background: yellowgreen;
}

.block-1>div {
	display: inline-block;
	font-size: 20px;
	padding: 20px;
	width: 400px;
	height: 400px;
	outline: 2px solid red;
}

.block-2 {
	font-size: 0;
	background: #bb3c3c;
}

.block-2-parent {
	display: inline-block;
	font-size: 20px;
	width: 800px;
	outline: 2px solid violet;
}

.block-2-parent>div {
	height: 200px;
	outline: 2px solid blue;
}

.block-2-parent+.block-2-parent {
	width: 400px;
}

.block-2-parent+.block-2-parent>div {
	height: 133.333px;
}


/* FLOAT */
.float-parent {
	background: #000;
	/* font-family: fantasy; */
	font-family: "Inter", sans-serif;
	font-weight: 700;
}

.float-child {
	padding: 20px;
	outline: 3px solid red;
	color: antiquewhite;
	font-size: 30px;
	width: 300px;
	float: left;
}

.float-child:nth-child(3) {
	font-family: 'Raleway';
	font-weight: 400;
}

/* .clr {
	clear: left;
} */

/* TEST FLOAT */

.float-test {
	font-size: 30px;
	color: #bb3c3c;
	background: #1d1919;
}

.float-test img {
	float: left;
	width: 350px;
	height: 200px;
	object-fit: cover;
}

/* FLOAT exm */
.float-1 {
	background: rebeccapurple;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 25px;
}

.float-1>div {
	width: 400px;
	height: 400px;
	outline: 2px solid orange;
	float: left;
}

.float-2 {
	background: #b35757;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 25px;
}

.float-2-parent {
	float: left;
	width: 800px;
	outline: 2px solid orangered;
}

.float-2-parent>div {
	height: 200px;
	outline: 2px solid #000;
}

.float-2-parent+.float-2-parent {
	width: 400px;
}

.float-2-parent+.float-2-parent>div {
	height: 133.333px;
}